@media (min-width: 375px) and (max-width: 600px) {
    header {
        background-color: rgba(15, 15, 15, 0.7);
        padding: 0.5rem 0;
    }
    header a {
        color: #ffffff;
        padding: 0.8rem;
        margin: 0 0.2rem;
        text-decoration: none;
        font-size: 0.9rem;
        transition: transform 250ms;
    }

    header a:hover {
        transform: scale(0.8);
    }

    header a.active {
        border-radius: 5px;
        font-size: 0.8rem;
    }

    .text-init {
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    .typewriter {
        font-size: 10px;
        letter-spacing: 0.4rem;
        margin: 0.3rem auto;
    }

    /* .text-name {
        font-size: 2.5rem;
        padding-bottom: 2rem;
        text-shadow: 8px 8px 8px black;
    } */

    .text-welcome {
        padding-top: 1rem;
        font-size: 1rem;
    }

    .flex-wrap-row {
        flex-direction: column;
    }

    .section-title {
        padding: 5rem 0 1.5rem 0;
        width: 100%;
    }

    .section-content {
        display: flex;
        width: 100%;
        font-size: 1rem;
        justify-content: center;
        align-items: center;
        z-index: 3;
    }

    .section-who:before {
        height: 100%;
    }

    .section-about {
        justify-content: start;
    }

    .about-branch {
        height: 23%;
        top: 3rem;
    }

    .about-branch label {
        font-size: 17px;
        margin: 0 8px;
    }

    .about-content-group {
        width: 90%;
        top: 35%;
    }

    .about-content-group .about-content {
        height: 280px;
    }

    .section-about:before {
        position: absolute;
        content: "";
        height: 100%;
        top: 35%;
        background: linear-gradient(
            to bottom,
            rgb(18, 18, 18),
            rgb(35, 35, 35)
        );
    }

    .section-contact:before {
        display: none;
    }

    .form-elements {
        padding-top: 0;
        width: 80%;
    }

    .pure-group {
        font-size: 20px;
    }

    .pure-group > input {
        height: 18px;
        padding: 4%;
        width: 92%;
    }

    .pure-group > textarea {
        height: 15vh;
        padding: 4%;
        width: 92%;
    }

    .pure-group > textarea::placeholder {
        font-size: 16px;
    }

    .btn-contact {
        margin-top: 15px;
        background-color: rgb(29, 29, 29);
    }

    .btn-contact:hover {
        transform: scale(1.1);
        background-color: rgb(80, 80, 80);
    }

    .honeypot-field {
        display: none;
    }

    .thankyou_message {
        font-size: 24px;
        padding: 0;
        text-align: center;
    }

    input,
    textarea,
    select {
        font-size: 16px;
    }
}
